<!DOCTYPE html>
<html>
<head>
	<title>All Employee List</title>
</head>
<body><center>
		<form method="post">
				
				<table border="4">
					<tr>
						<td colspan="7"><center><h1>Employee List </h1></center></td>
					</tr>
					<tr>
						<th>EmpID</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Gender</th>
						<th>Designation</th>
						<th colspan="2">Action</th>
				
					</tr>
					
					<tr>
						<td>1</td>
						<td>Arham</td>
						<td>01717171</td>
						<td>MaLe</td>
						<td>Student</td>
						<td><a href="/Admin/UPDATE">UPDATE</a></td>
						<td><a href="/Admin/DELETE">DELETE</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>RaisA</td>
						<td>01954112</td>
						<td>FeMaLe</td>
						<td>Web Developer</td>
						<td><a href="/Admin/UPDATE">UPDATE</a></td>
						<td><a href="/Admin/DELETE">DELETE</a></td>
					</tr>
					<tr>
						<td>3</td>
						<td>AlaminSir</td>
						<td>0130424</td>
						<td>MaLe</td>
						<td>Teacher</td>
						<td><a href="/Admin/UPDATE">UPDATE</a></td>
						<td><a href="/Admin/DELETE">DELETE</a></td>
					</tr>
					
					
				</table>
				<br>
				<a href="/Admin">BACK TO ADMIN HOME</a>
		</form>
</center></body>
</html>