<!DOCTYPE html>
<html>
<head>
	<title>DELETE EmpLoyee</title>
</head>
<body><center>
		<form method="post">

				<table><center>
					<tr>
						<td><h1><center><u>CONFIRM YOUR DECiSiON</u></center></h1></td>
					</tr>

					<tr>
						<td>
							<h3><center>ARE YOU SURE?<br>YOU CANNOT UNDO THIS OPERARATION...[[[Press DELETE to proceed or REVERT to go back]]] </center></h3>
						</td>
					</tr>
					<tr>
						<td><h4><center>----------------------------------------------------------------------</center></h4></td>
					</tr>

					<tr>
						<td><center><input type="submit" name="DELETE" value="DELETE">~~~~~
						<a href="/Admin/AllEmpList">R E V E R T</a><center></td>
					</tr>
				</center></table>
		</form>
</center></body>
</html>