<!DOCTYPE html>
<html>
<head>
	<title>UPDATE Employee</title>
</head>
<body><center>
		<form method="post">
				
				<table border="4">
					<tr>
						<td colspan="7"><center><h1>UPDATE Employee</h1></center></td>
					</tr>
					<tr>
						<th>EmpID</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Gender</th>
						<th>Designation</th>
						<th colspan="2">---</th>
				
					</tr>
					
					<tr>
						<td><input type="text" name="id" value="1" ></td>
						<td><input type="text" name="empname" value="Arham" ></td>
						<td><input type="text" name="phone" value="01717171"></td>
						<td><input type="text" name="gender" value="MaLe"></td>
						<td><input type="text" name="desig" value="Student"></td>
						<td><input type="submit" name="UPDATE" value="U P D A T E"></td>
					</tr>

					<tr>
						<td><input type="text" name="id2" value="2" ></td>
						<td><input type="text" name="empname2" value="RaisA" ></td>
						<td><input type="text" name="phone2" value="0195326"></td>
						<td><input type="text" name="gender2" value="FeMaLe"></td>
						<td><input type="text" name="desig2" value="WeB Developer"></td>
						<td><input type="submit" name="UPDATE2" value="U P D A T E"></td>
					</tr>
					
				</table>
				<br>
				<a href="/Admin/AllEmpList">BACK TO EMPLOYEE List</a>
		</form>
</center></body>
</html>