<!DOCTYPE html>
<html>
<head>
	<title>All Employee PROFILE</title>
</head>
<body><center>
		<form method="post">
				
				<table border="7">

					<tr>
						<td colspan="2"><center><h1>M Y ~ P R O F i L E </h1></center></td>
					</tr>

					<tr>
						<td><b>EmpID</b></td>
						<td>1632332</td>
					</tr>
					
					<tr>
						<td><b>Name</b></td>
						<td>EMON</td>
					</tr>
					
					<tr>
						<td><b>Phone</b></td>
						<td>0179754453</td>
					</tr>
					<tr>
						<td><b>Designation</b></td>
						<td>Web designer</td>
					</tr>
					
				</table>
				<br>
				<a href="/Employee">BACK TO EMPLOYEE HOME</a>
		</form>
</center></body>
</html>